@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #2b2d42;
    color: #edf2f4;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
}

img {
   border-radius: 16px;
}

.subtitle {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

a {
    color: #8d99ae;
    font-size: 20px;
}

